@page "/registro"
@using BlazorChatSignalR.Client.Entity


@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks


@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@inject HttpClient Http

<PageTitle>SignalR Chat</PageTitle>
<h3>Registro</h3>


<br />

    <div class="mb-3">

        <label for="exampleInputUserName" class="form-label">Name</label>
        <input @bind="username" class="form-control" >
     </div>
     <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input @bind="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input @bind="password" type="text" class="form-control" id="exampleInputPassword1">
     </div>


    <div class="mb-3">    
        <button class="btn btn-primary form-control-append" @onclick="AgregarUsuario">
            Connect
        </button>
    </div>



@code {
    private string username = string.Empty;
    private string email = string.Empty;
    private string password = string.Empty;



    private async Task AgregarUsuario()
    {
        var postbody = new UserRequest() { Nombre = username, Email = email, Password = password };

        await Http.PostAsJsonAsync("api/Login/Registro", postbody);

    }
   
}
